
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');


.navbar-light .navbar-nav .nav-link.active-link
{
    min-height: fit-content;
    align-items: center;
    justify-content: space-between;
    color: var(--main-color);
}

#menu-icon{
    font-size: 2rem;
    cursor:pointer;
    display: none;
}
.hamburger{
    width:25px;
    height: 4px;
    background:#3E3D48;
    transition: 0.25s ease-in-out;
    border-radius: 2px;

}
.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    background: #3E3D48;
    position: 0.5s ease-in-out;
    border-radius: 2px;

}

.hamburger::before{
    transform: translateY(-10px);

}
.hamburger::after{
    transform: translateY(10px);

}

/*Button Animation*/
.navbar-nav .hamburger{
    background-color: transparent;

}
.navbar-nav .hamburger::before{
    transform: rotate(-45deg);
    
}
.navbar-nav .hamburger::after{
    transform: rotate(-45deg);
    
}

.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    position: relative;
}

.navbar a:hover{
    background-color: var(--main-color);
    color:black;
    border-radius: 2rem;
}
nav ul{
    float: center;
    margin-right: 25px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position:relative;
    font-size: 16px;
    text-transform: uppercase;
}


* {
box-sizing: border-box;
margin: 0;
padding: 0;
background-color:white;
}
.fa-1x {
    font-size: 1.5rem;
    }

li,a,button{
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0px 10px;
    text-align: center ;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 12%;
    background: #fff4f3;
    position:fixed;
}



.logo
{
    background-image: url('../../../assets/img/mwq2.png');
    height: 90px;
    width: 185px;
    background-position:center;
    background-size: cover;
    position: top left;
    display: flex;
}



@media (max-width: 989px){
    .logo{
        left: 6%;
        top: 20px;
        width: 130px;

    }
    .navbar-nav{
        height: 100vh;
    } 
}
@media (max-width: 844px){
    .logo{
        left: 6%;
        top: 20px;
        width: 100px;

    }
    .navbar-nav{
        height: 100vh;
    } 
    .logo
{
    background-image: url('../../../assets/img/mwq2.png');
    position: center;
}
}

@media (max-width: 540px){
    .logo{
        left: 6%;
        top: 20px;
        width: 75px;

    }
    .navbar-nav{
        height: 100vh;
    } 
}
