<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <a routerLink=""> Minutes With Qhamie | Everything Food </a>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">HOME</a>
            <a routerLink="">MENU</a>
            <a routerLink="">ABOUT</a>
            <a routerLink="">CONTACT</a>
        </div>

                 <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
        <!--footer-->
        <div>
            <p class="cp-text" color="white">
                Copyright &copy; 2021 <script type="text/javascript">
                    document.write(new Date().getFullYear());
                  </script> Minutes With Qhamie Co. All rights reserved.
            </p>
        </div>
       

    </div>
</div>