@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
.banner
{
    background-image: url('../../../assets/img/bannerimg.jpg');
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
}
li,a,button,p,h1,h2{
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:darkslategray;
    text-decoration: none;
}
.btn {
    background: #fc5552;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2rem;
    color: #fff;
  }

  
/*--blog---*/
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;

}
.blog-heading span{
    color:#f33c3c;
}

.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 300px;
    background-color: #ffffff;
    border:1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;

}
.blog-img img{
    width: 100%;
    height: 100%;
    object-position: center;
}