<div class="container mt-5 mb-5">

    <h2 class="text-center">About Minutes with Qhamie</h2>

    <div class="blog-container">
        <div class="blog-box">
            <!--image-->
            <div class="blog-img">
                <img src="../../../assets/img/chef.png" alt ="Blog">
            </div>
            <!--text-->
            <div class="blog-text">
                <span>Qhamani Nkuhlu </span>
            </div>
        </div>

    </div>

    <p>
        Welcome to my food sanctuary, a platform which 
        I am keen to use as an expression of my love for all things food!

    </p>
    <p>
        Join me in  this adventure as I share my favorite home-cooked meals and try out creative takes on age-old recipes.
        
    </p>
    <a href="../../../assets/pdf/Qhamani Nkuhlu.pdf" class="btn">Download Resume</a>
   <!--<a href="Resources\teen_time_report.pdf">ok</a>--> 

</div>