<div class="banner">
    <div class="content">
        <p>Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard
             dummy text ever since the 1500s, when an unknown printer took a galley
              of type and scrambled it to make a type specimen book. It has survived not only five centuries,
               but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        <a class="button" style="color: #000; background-color: #fff; margin: 0; min-height: 40px;" href="/recipes/">View recipes</a>
    </div>
</div>
<!-- step  -->
<div class="photo">
    <div class= "content">
    <div class="col-lg-4 mt-2"> 
        <a class="button" style="color: #000; background-color: #fff; margin: 0; min-height: 40px;" href="#">About Qhamie</a>
        <p>Welcome to my food sanctuary, a platform which 
            I am keen to use as an expression of my love for all things food!</p>
    </div>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <p class="text-center">VIDEOS</p>
    <div class="row mt-5" id="slider">
        <figure>

            <div class="images">
                
            </div>

        </figure>
        <!-- one  
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
           
            </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="stepBox">
              
            </div>
        </div>
     
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
         
            </div>
        </div>-->
    </div>
</div>

<!-- blog -->
<div class="container mt-4 mb-4">
    <p class="text-center">Blog</p>


    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of foodData;index as i">
            <div class="blog-heading" >
                <span>
                    My recent Posts
                </span> 
                <h3>
                    Blogs
                </h3>
            </div>
            <!--Blog Container--->
            <div class="blog-container">
                <div class="blog-box">
                    <!--image-->
                    <div class="blog-img">
                        <img src="../../../assets/img/pexels-alesia-kozik-6630118.jpg" alt ="Blog">
                    </div>
                    <!--text-->
                    <div class="blog-text">
                        <span>18 May 2021 / Design</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
   <!--<a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>--> 
</div>
