
<section class="home" id="home">
<div class="home-text">
    <h3>About</h3>
    <h1>Minutes with Qhamie</h1>
        <p>Welcome to my food sanctuary, a platform which I am keen to use as an expression of my love for all things food!

            </p>
        <a href="#contact" class="btn">Contact Us</a>
</div>
</section>
<div class="home-img" alt="">
    
</div>
<!--Pop-Ups -->
<div class="container mt-5 mb-3">
    <p class="text-center">Pop-Ups</p>
    <div class="blog-heading" >
        <span>
            Pop-Up Shops
        </span> 
        <h3>
           
        </h3>
    </div>

</div>
<!--Videos -->
<div class="container mt-5 mb-3">
    <p class="text-center">Videos</p>
    <div class="blog-heading" >
        <span>
            Videos
        </span> 
        <h3>
           
        </h3>
    </div>

</div>

<!-- blog -->
<div class="container mt-4 mb-4">
    <p class="text-center">Blogs</p>


    <div class="row">
        <div class="col-lg-3 mt-3">
            <!-- *ngFor="let fd of foodData;index as i-->
            <div class="blog-heading" >
                <span>
                    My recent Posts
                </span> 
                <h3>
                    Blog
                </h3>
            </div>
            <!--Blog Container--->
            <div class="blog-container">
                <div class="blog-box">
                    <!--image-->
                    <div class="blog-img">
                        <img src="../../../assets/img/pexels-alesia-kozik-6630118.jpg" alt ="Blog">
                    </div>
                    <!--text-->
                    <div class="blog-text">
                        <span>18 May 2021 / Design</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
   <!--<a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>--> 
   <section class="contact" id="contact">
    <div class="heading">
        <p>Have Any Question?</p>
        <h2>Contact Us</h2>
    </div>
    <div class="contact-form">
        <form action="">
            <input type="text" placeholder="Your Name">
            <input type="email" name="" id="" placeholder="Enter Your Email...">
            <textarea name="" id="" cols="30" rows="10" placeholder="Write Your Message Here... "></textarea>
            <input type="button" value="Send" class="contact-button">
        </form>
    </div>
</section>
</div>
