<div class="banner">
    <div class="container mt-3">
    <div class="content">
        <div class="col-lg-4 mt-2"> 
        <p>Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        <a class="button" style="color: #000; background-color: #fff; margin: 0; min-height: 40px;" href="/recipes/">View recipes</a>
        </div>
    </div>

    </div>
</div>
<!--Hiding white space-->

<div class="container mt-3">

</div>
<!-- step  -->
<div class="photo">
    <div class= "content">
    <div class="col-lg-4 mt-2"> 
        
        <p>Welcome to my food sanctuary, a platform which 
            I am keen to use as an expression of my love for all things food!</p>
            <a class="button" style="color: #000; background-color: #fff; margin: 0; min-height: 40px;" href="#">About Qhamie</a>
    </div>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <p class="text-center">VIDEOS</p>
    <div class="row mt-5" id="slider">
        <figure>

            <div class="images">
                
            </div>

        </figure>
        <!-- one  
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
           
            </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="stepBox">
              
            </div>
        </div>
     
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
         
            </div>
        </div>-->
    </div>
</div>

<!-- blog -->
<div class="container mt-4 mb-4">
    <p class="text-center">Blog</p>


    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of foodData;index as i">
            <div class="blog-heading" >
                <span>
                    My recent Posts
                </span> 
                <h3>
                    Blogs
                </h3>
            </div>
            <!--Blog Container--->
            <div class="blog-container">
                <div class="blog-box">
                    <!--image-->
                    <div class="blog-img">
                        <img src="../../../assets/img/pexels-alesia-kozik-6630118.jpg" alt ="Blog">
                    </div>
                    <!--text-->
                    <div class="blog-text">
                        <span>18 May 2021 / Design</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
   <!--<a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>--> 
</div>
